@import url('https://api.fontshare.com/v2/css?f[]=switzer@101,600,701,800,501,601,900,100,700,901,400,201,401,200,300,301,801,500&display=swap" rel="stylesheet');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Switzer';
}

td{
    padding: 10px 0;
}

.pin {
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.3125rem;
  border-style: none;
  background-color: rgba(247, 248, 253, var(--tw-bg-opacity));
  padding: 0.75rem 1rem;
  font-size: 0.9375rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}